@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #090709;
  --light: #fcf8fe;
  --brand-1: #490161; /* purple */
  --brand-2: #ed3e09; /* orange */
  --brand-3: #36afd0; /* blue */
}

* {
  box-sizing: border-box;
  font-family: var(--font-inter);
  @apply text-white;
}

h1,
h2,
h3 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.484);
  @apply font-semibold;
}

.flex-v-center {
  @apply flex items-center gap-3;
}
.flex-center {
  @apply flex items-center justify-center gap-3 w-full;
}

.grid-3 {
  @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-3;
}

.container {
  @apply p-4 md:px-[100px] md:py-[25px] xl:px-[4rem] w-full max-w-[1200px] mx-auto;
}

.banner-container {
  @apply w-full h-[200px] relative rounded-lg md:rounded-xl overflow-hidden;
}

.display {
  @apply lg:text-[4vw] xl:text-[3.25rem];
}

.heading {
  @apply lg:text-[2.5vw] xl:text-[2rem];
}

.featured-title {
  @apply lg:text-[2.65vw] xl:text-[2.15rem] !font-medium;
}

.subheading {
  @apply lg:text-[2vw] xl:text-[1.5rem] !font-medium;
}
.subheading-faq {
  @apply lg:text-[2vw] xl:text-[1.25rem] !font-medium;
}

p,
li {
  @apply lg:text-base font-light text-light;
}

.card {
  @apply bg-black/80 backdrop-blur p-4 md:p-7 rounded-lg md:rounded-3xl shadow-md shadow-light/5 border border-light/5;
}

.btn-1,
.btn-2 {
  @apply py-2 lg:py-3 px-4 lg:px-8 rounded-xl text-base font-semibold flex items-center gap-2 max-w-fit;
}

.btn-3,
.btn-4 {
  @apply py-2 lg:py-2 px-3 lg:px-5 rounded-xl text-xs font-semibold flex items-center gap-2 max-w-fit uppercase;
}

.btn-1 {
  @apply backdrop-blur-sm bg-brand-1/40;
}

.btn-2 {
  @apply backdrop-blur bg-white/5;
}

.btn-3 {
  @apply backdrop-blur bg-brand-2/90;
}

.btn-4 {
  @apply backdrop-blur bg-brand-3/90;
}

.transition-500 {
  @apply transition-all duration-500 ease-in-out;
}
